{% extends 'base.html' %}

{% block head %}
<title>Page 2 - Flask Training</title>
{% endblock %}

{% block body %}
    <div>
        <h1>Page 2</h1>
        <a href= "{{ url_for('index')}}"><button type="button" onclick="">Back</button></a>
    </div>

    <div>
        <p>
        <form action="" method="post">
            <label for="inputText">Input: </label>
            <input type="text" id="content" name="content"><br><br>
            <input type="submit" name="submit_button" value="read"></input>
            <input type="submit" name="submit_button" value="write"></input>
        </form>
        </p>
          
          <p>{{content}}</p>
    </div>

    <script src="../static/main.js"></script>

{% endblock %}
